@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


/* variables */
:root {
    --primary-color: #FF96A3;
    --space-ss: 0.50rem;
    --space-s: 0.75rem;
    --space-m: 1rem;
    --space-x: 1.25rem;
    --space-xl: 1.5rem;

}
.background-geral{
    background-color: red;
}

body {    
    font-family: 'Ubuntu', sans-serif;
}
/* Estilos gerais para o cabeçalho */
.site-header {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-x);
}

.header-content {
    display: flex;
    align-items: center;
}

.logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

.main-menu {
    display: none; /* Ocultar o menu principal em telas menores */
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-menu ul li {
    margin-right: 20px;
}

.mobile-menu-toggle {
    display: block; /* Mostrar o ícone do menu mobile em telas menores */
}

.burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
}
.burger-mobile{
    color: rgb(7, 7, 7);
}
.burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.burger-menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.fa-sharp {
    font-size: 2rem;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--primary-color);
    color: #fff;
    transform: translateX(-250px); /* Inicialmente oculto */
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0); /* Mostra a sidebar */
}

.sidebar-nav {
    padding: 20px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
}

.sidebar-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.sidebar-nav ul li a:hover {
    text-decoration: underline;
}

.close-sidebar {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
}

.set-item {
    font-weight: bold;
}
/* desktop-header */

.menu-item-desktop{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'ubuntu';
}
#page{
    color:white
}





.heroBanner{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: center; 
    background-image: url(images/background.webp);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

   
}
/* aumentar gap no tablet / desktop */
.text-container{
    display: flex;
    flex-direction: column;
    height: 70%;
    gap: 1.5rem   ;
    align-items: center;
    width: 100%;
    padding: 1.5rem;    
}
.heroBanner h1{
    font-size: 3rem;
    font-weight: bold;
}
.heroBanner p{
    font-size: 1.5rem;
    font-weight: 300;
    width: 80%;
}
/* Alterar o width do btn no desktop */
#heroBanner-btn { 
    display: flex; /* Usar flex para alinhar o ícone e o texto */
    align-items: center; /* Alinhar verticalmente ao centro */
    justify-content: center; /* Alinhar horizontalmente ao centro */
    width: 40%;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra intensa */
    border-radius: 20px; 
    text-decoration: none; /* Remover sublinhado */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
    font-weight: 600;
}

#heroBanner-btn:hover {
    background-color: var(--primary-color);
    border: solid 5px var(--primary-color);
    color: white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); /* Sombra mais intensa no hover */
    transform: translateY(-10px);
    text-decoration: none; /* Remover sublinhado */
    font-weight: 600;
}

/* Classe adicional para o ícone no botão */
#heroBanner-btn .icon {
    margin-right: 0.5rem; /* Espaçamento entre o ícone e o texto */
    font-weight: 600;
}


/*  Start-divider  */

.section-divider {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}


/* Start -  icons  */ 

.icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    margin: 1rem;
}

.box-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-s);
    width: 120px;
}

.box-icon > i {
    color: var(--primary-color);
    font-size: 2rem;
}

.box-icon > span {
    color: var(--primary-color);
    font-size: var(--space-s);
    width: 100%;
    display: block;
}
/* galeria */
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 193, 193);
    padding: 1rem 0;
}

.gallery-container {
    background-color: rgb(253, 193, 193);
    width: 100%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.gallery-container img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Start -  handmade  */

.handmade{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    gap: var(--space-m);
    width: 70vw;
    margin: auto;
}

.handmade__title {
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 700;
    font-size: 3rem;
    color: #FF96A3;
}

.handmade__description {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: var(--space-x);
    line-height: 2rem;
    text-align: justify;
}

.handmade__btn {
    display: flex;
    gap:1rem   ;
    place-items: center; 
    background-color: var(--primary-color);
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
}

.handmade__btn:hover {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: var(--primary-color);
    border: solid 5px var(--primary-color);
    background-color: rgb(255, 255, 255);
    transform: translateY(-10px);
}

/* Start -  delivery  */

.delivery{
background-color: #FF96A3;
height: 50vh;
padding: 3rem;

}
.delivery__container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.delivery__icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}
.delivery__icons i{
    font-size: 2rem;
    color: white;
}
.delivery__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    color: white;
}
.delivery__description strong{
    font-size: 1.5rem;
}

/* Start -  feedback    */

.feedback{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;  
}
.feedback__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem   ;


}
.feedback__container p {
  
}
.feedback__row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid var(--primary-color);
    padding: 10px;
}

.feedback__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: auto;
    text-align: center;
    gap: 1rem;
}
.feedback__profile img{
   display: block;
   margin: 0 auto;
   max-width: 128px;
   height: 128px;
   border-radius: 50%;
   
 
}


.feedback__title{
    display: inline-block;
    padding: 1rem;
    width: 70vw;
    max-width: 100%;
    font-weight: 500;
    margin: 0;
    font-style: italic;
}

/* Start - Build-kit  */

.build-kit{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0;
    max-height: fit-content;
   
}
.build-kit h1 {
    font-size:  3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.kit img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 900px;
    width: 80%;
    border-radius: 60px;
}
.kit-btn
    {
    display: flex;
    gap:1rem;
    background-color: var(--primary-color);
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
    }

.kit-btn:hover {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: var(--primary-color);
    border: solid 5px var(--primary-color);
    background-color: rgb(255, 255, 255);
    transform: translateY(-10px);
}



.contact-us{
    width: 100% ;
    display: flex;
    flex-flow: column nowrap;    
}
 

.contact-us h1 {
    padding: 1rem  ;
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: #FF96A3;
    text-align: center;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}
#duvidas-form fieldset{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    width: 80vw;
    max-width: 800px;
}


legend {
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

label {
    display: block;
    color: white;
    margin: 10px 0 5px;
}
.captcha-insert{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    width: 3rem;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;

}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    outline: 2px solid rgba(2, 2, 2, 0.664);

}
#mensagem{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    height: 10rem;
}
#limpar {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    margin-left: 10% ;
}
#limpar:hover {
    text-decoration: underline;
    transform: translateY(-10px);
}

.submit-btn {
    display: block;
    margin-top: 1rem;
    background-color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: var(--primary-color);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.submit-btn:hover{
    transform: translateY(-10px);
}
.captcha-error {
    outline: 3px solid red;
}
.social__container{
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    
    gap: 1.75rem   ;
}
.media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social__container h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}
.media-icon{
    font-size: 4rem;
    color: var(--primary-color);
}
#insta{
    text-decoration: none;
    font-size: 1.75rem ;
    color: var(--primary-color);
}    





 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem 1rem 1rem ;
    color: white;
    /* margin-top: 10rem; */
    max-width: 100%;
    font-size: 0.75rem;
}
.footer-navigation, .footer-logo, .contact-info {
    flex: 1;
    text-align: center;
    min-width: 200px; 
}
.footer-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-navigation ul li {
    margin: 1rem 0;
}
.footer-navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: .75rem;
    font-weight: bold;
}
.footer-logo img {
    width: 7rem;
}
.footer-logo p {
    margin: 0.5rem 0;
}
.contact-info a {
    text-decoration: none;
    color: white;
}
.contact-info a:hover {
    text-decoration: underline;
}
.footer-logo-large{
    display: none;
}

#developer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #f1b0b8;
    padding: 10px;
    gap: 1rem   ;
}

@media (min-width: 500px) {
    
    .main-menu {
        display: block; /* Mostrar o menu principal em telas maiores */
    }

    .mobile-menu-toggle {
        display: none; /* Ocultar o ícone do menu mobile em telas maiores */
    }

    .sidebar {
        display: none; /* Ocultar a sidebar em telas maiores */
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start; /* Alinhamento superior para conteúdo não centralizado */
    }
}





/* Estilos para tablets */
@media (min-width: 700px) {

    .main-menu {
        display: block; /* Mostrar o menu principal em telas maiores */
    }

    .mobile-menu-toggle {
        display: none; /* Ocultar o ícone do menu mobile em telas maiores */
    }

    .sidebar {
        display: none; /* Ocultar a sidebar em telas maiores */
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start; /* Alinhamento superior para conteúdo não centralizado */
    }

    .footer-navigation, .footer-logo, .contact-info, .footer-logo-large {
        text-align: left; /* Alinhamento à esquerda para telas maiores */
        margin: 0.5rem; /* Reduzindo margem para manter espaço entre itens */
    }

    .contact-info {
        text-align: right;
    }

    .footer-logo {
        display: none;
    }

    .footer-logo-large {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .heroBanner{
        
        background-size:contain;
        background-position: right;
        background-repeat: no-repeat;
        height: 50vh;
    }

    .text-container{
   
        max-height: 100%;
        gap: 1rem   ;
        align-items: center;
        width: 100%;
        padding: 0;  
        justify-content: space-evenly; 
    }
    .heroBanner h1{
        font-size: 2rem;
        font-weight: bold;
    }

    .heroBanner p{
        font-size: 1.5rem;
        font-weight: 400;
    }

    #heroBanner-btn { 
        display: flex; /* Usar flex para alinhar o ícone e o texto */
        align-items: center; /* Alinhar verticalmente ao centro */
        justify-content: center; /* Alinhar horizontalmente ao centro */
        width: 30%;
        padding: 1rem;
        border-radius: 20px; 
        font-size: 1rem;
        background-color: var(--primary-color);
        color: #fff;
    }
    #heroBanner-btn:hover{
        color: var(--primary-color);
        background-color: #fff;
        border: none;
    }



}


/* Estilos para telas maiores */

@media(min-width: 1024px)
{
    .site-header {
        font-size: 1.25rem;
        color: black;
    }
    #main-icon{
        color: white;
        font-weight: bold;
    }

    .heroBanner{
        height: 70vh;
        background-size:contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    .text-container{
   
        height: auto;
        gap: 4rem   ;
        align-items: center;
        width: 100%;
        padding: 1.5rem;  
        justify-content: space-evenly; 
    }
    .heroBanner h1{
        font-size: 5rem;
        font-weight: bold;
    }

    .heroBanner p{
        font-size: 2.5rem;
        font-weight: 400;
    }

    #heroBanner-btn { 
        display: flex; /* Usar flex para alinhar o ícone e o texto */
        align-items: center; /* Alinhar verticalmente ao centro */
        justify-content: center; /* Alinhar horizontalmente ao centro */
        width: 30%;
        padding: 1.5rem;
        border-radius: 20px; 
        font-size: 2rem;
        background-color: var(--primary-color);
        color: #fff;
    }
    #heroBanner-btn:hover{
        color: var(--primary-color);
        background-color: #fff;
        border: none;
    }

    .section-divider {
    padding: 3.5rem;
    font-size: 3rem;
    }
    .icon-container {
        height: 20vh;
    }
    .box-icon > i {
        font-size: 3rem;
    }

    .handmade{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 5rem 3rem;
        gap: var(--space-x);
        height: 100vh;
    }

    .handmade__title {
        display: block;
        padding: 3rem;
        font-size: 5rem;
    
    }

    .handmade__description {
    
        font-size: 1.75rem;
        line-height: 3rem;
        text-align: center;
        width: 90%;
    }
    .handmade__btn {
        padding: 2rem;
        border-radius: 30px;
        font-size: 1.5rem;
    }

    .handmade__btn:hover {
        padding: 2rem;
        border-radius: 30px;
        font-size: 1.5rem;
    }
    .delivery{
        padding: 3rem;
        height: 70vh;
    }
    .delivery__icons i{
        font-size: 3rem;
        color: white;
    }
    .delivery__description strong{
        font-size: 2rem;
        text-align: center;
    }
    .feedback__row{
        flex-direction: row;
        padding:3rem
    }
    .feedback__profile{
        max-width: 100%;
        text-align: center;
        gap: 1rem;
    }
    .feedback__title{
        font-weight:100;
        font-size: 1.75rem;  
    }
  
    .build-kit{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        gap:3rem;
        margin: 3rem 0;
        max-height: fit-content;
       
    }
    .build-kit h1 {
        font-size:  5rem;
        font-weight: bold;
        color: var(--primary-color);
    }
    
    .kit img {
        display: block;
        margin: 0 auto;
        height: auto;
        width: 100%;
        border-radius: 60px;
    }
.build-kit{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 5rem;
    margin: 3rem 0;
    max-height: fit-content;
   
}
.kit-btn
    {
    display: flex;
    gap:1rem   ;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
    width: 50%;
    font-size: 2rem;
    }



.contact-us h1 {
    padding: 3rem  ;
    display: block;
    width: 45vw;
    text-align: left ;
    font-size: 4rem;

}
#limpar {
    text-decoration: underline;
    color: white;
    font-size: 1.2em;
    margin-left:5% ;
}
.submit-btn{
width: 40%;
margin: 0 auto;
}
.footer-navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.contact-info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: end ;
   height: 100%;
   margin: 0;
   height: 144px;
}
.contact-info a {
    font-size: 1rem;
 }
 .footer-logo-large{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}
}
