@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


/* variables */
:root {
    --primary-color: #FF96A3;
    --space-ss: 0.50rem;
    --space-s: 0.75rem;
    --space-m: 1rem;
    --space-x: 1.25rem;
    --space-xl: 1.5rem;
    --space-xxl
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* Estilos gerais para o cabeçalho */
.site-header {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-x);
}

.header-content {
    display: flex;
    align-items: center;
}

.logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

.main-menu {
    display: none; /* Ocultar o menu principal em telas menores */
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-menu ul li {
    margin-right: 20px;
}

.mobile-menu-toggle {
    display: block; /* Mostrar o ícone do menu mobile em telas menores */
}

.burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
}

.burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.burger-menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.fa-sharp {
    font-size: 2rem;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--primary-color);
    color: #fff;
    transform: translateX(-250px); /* Inicialmente oculto */
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0); /* Mostra a sidebar */
}

.sidebar-nav {
    padding: 20px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
}

.sidebar-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.sidebar-nav ul li a:hover {
    text-decoration: underline;
}

.close-sidebar {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
}

.set-item {
    font-weight: bold;
}

.heroBanner {
    display: flex;
    align-items: center;
    height: 100%;
    background: radial-gradient(101.09% 249.44% at 1.64% 69.31%, rgba(255, 150, 163, 0.3) 40%, rgba(255, 255, 255, 0.3) 100%);
    padding: 10px;
}

.banner {
    flex: 1 1 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.heroBanner__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroBanner__left > h1 {
    font-size: 5rem;
    max-width: 70%;
    line-height: 4rem;
    font-weight: bolder;
}

.heroBanner__left > span {
    text-align: left;
    max-width: 119px;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
}

.heroBanner-btn {
    background-color: #FF96A3;
    width: 9rem;
}

.heroBanner__right > h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.section-divider {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    margin: 1rem;
}

.box-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-s);
    width: 120px;
}

.box-icon > i {
    color: var(--primary-color);
    font-size: 2rem;
}

.box-icon > span {
    color: var(--primary-color);
    font-size: var(--space-s);
    width: 100%;
    display: block;
}
.gallery-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.gallery-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.small-box {
    width: 100%;
    height: 23vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.large-img{
    width: 100%;
    height: auto;
}

.small-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.large-img img {
    width: 100%;

    height: 100%;
    border-radius: 10px;
}




.handmade{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 3rem;
    gap: var(--space-m);
}

.handmade__title {
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: #FF96A3;
}

.handmade__description {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: var(--space-x);
    line-height: 2rem;
    text-align: justify;
}
/*  */

.handmade__btn {
    display: flex;
    gap:1rem   ;
    place-items: center; 
    background-color: var(--primary-color);
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
}

.handmade__btn:hover {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: var(--primary-color);
    border: solid 5px var(--primary-color);
    background-color: rgb(255, 255, 255);
    transform: translateY(-10px);
}
.delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    background-color: var(--primary-color);
    padding: 3rem;
    color: white;
}
.delivery-row{
    display: flex;
    gap: 2rem   ;
    width: 80%;
}

.delivery-icon{
    font-size: 1.5rem;
}

.feedback__container{
    display: flex;
    height: 20vh;
    gap: 2rem;

    justify-content: center; 
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;

}
.feedback__profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 10rem;
    text-align: center;
    gap: 1rem   ;
    height: auto;
}


.feedback__profile span {
    font-weight: var(--space-s);
    color: var(--primary-color);
    font-weight: bold;
}
.feedback__title{
    font-style: italic;
}

.build-kit{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0;
    max-height: fit-content;
   
}
.build-kit h1 {
    font-size:  3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.build-kit img {
    height: auto;
    width: 80%;
    border-radius: 20px;
}
.kit-btn{
    display: flex;
    gap:1rem   ;
    place-items: center; 
    background-color: var(--primary-color);
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
}
.kit-btn:hover {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: var(--primary-color);
    border: solid 5px var(--primary-color);
    background-color: rgb(255, 255, 255);
    transform: translateY(-10px);
}



.contact-us{
    width: 100vw ;
    display: flex;
    flex-flow: column nowrap;    
}
 

.contact-us h1 {
    padding: 1rem  ;
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: #FF96A3;
    display: flex;
    align-items: center center;
    margin: 2rem 0 0 1rem ; 
    
}

#duvidas-form {

}
#duvidas-form fieldset{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem;
}


legend {
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

label {
    display: block;
    color: white;
    margin: 10px 0 5px;
}
.captcha-insert{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    width: 3rem
}
input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;

}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    outline: 2px solid rgba(2, 2, 2, 0.664);

}
#mensagem{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    height: 10rem;
}
a#limpar {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    margin-left: 10% ;
}
a#limpar:hover {
    text-decoration: underline;
    transform: translateY(-10px);
}

.submit-btn {
    display: block;
    margin-top: 1rem;
    background-color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: var(--primary-color);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;,
}
.submit-btn:hover{
    transform: translateY(-10px);
}
.captcha-error {
    outline: 3px solid red;
}
 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem 1rem 1rem ;
    color: white;
    margin-top: 10rem;
    width: 100vw;
    font-size: 0.75rem;
}
.footer-navigation, .footer-logo, .contact-info {
    flex: 1;
    text-align: center;
    min-width: 200px; 
}
.footer-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-navigation ul li {
    margin: 1rem 0;
}
.footer-navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: .75rem;
    font-weight: bold;
}
.footer-logo img {
    width: 7rem;
}
.footer-logo p {
    margin: 0.5rem 0;
}
.contact-info a {
    text-decoration: none;
    color: white;
}
.contact-info a:hover {
    text-decoration: underline;
}
.footer-logo-large{
    display: none;
}
#developer{
    display: inline-block;
    text-align: center;
    width: 100vw;
    background-color: #ff96a2af;
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: 'Ubuntu', sans-serif;
}

/* Estilos para telas maiores */

/* Estilos para tablets */
@media (min-width: 500px) {
    .main-menu {
        display: block; /* Mostrar o menu principal em telas maiores */
    }

    .mobile-menu-toggle {
        display: none; /* Ocultar o ícone do menu mobile em telas maiores */
    }

    .sidebar {
        display: none; /* Ocultar a sidebar em telas maiores */
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start; /* Alinhamento superior para conteúdo não centralizado */
    }

    .footer-navigation, .footer-logo, .contact-info, .footer-logo-large {
        text-align: left; /* Alinhamento à esquerda para telas maiores */
        margin: 0.5rem; /* Reduzindo margem para manter espaço entre itens */
    }

    .contact-info {
        text-align: right;
    }

    .footer-logo {
        display: none;
    }

    .footer-logo-large {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

